<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkountos.orcsattack">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.arkountos.orcsattack.GlobalsActivity"
        android:screenOrientation="nosensor"
        android:allowBackup="true"
        android:icon="@drawable/ic_treasure_appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize"
        android:theme="@style/AppTheme">
        <activity android:name="com.arkountos.orcsattack.AboutActivity"></activity>
        <activity android:name="com.arkountos.orcsattack.ui.ExportBitmapActivity" />
        <activity android:name="com.arkountos.orcsattack.SettingsActivity" />
        <activity android:name="com.arkountos.orcsattack.EncounterStartActivity" />
        <activity android:name="com.arkountos.orcsattack.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.arkountos.orcsattack.EncounterGeneratorActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.arkountos.orcsattack.AddCharActivity" />
        <activity android:name="com.arkountos.orcsattack.MainActivity"
            android:configChanges="orientation|screenSize"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>