<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkountos.orcsattack">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GlobalsActivity"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/ic_treasure_appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="nosensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NPCStatblockActivity"></activity>
        <activity android:name=".LoadNPCActivity" />
        <activity android:name=".NPCGeneratorActivity" />
        <activity android:name=".LoadEncounterActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ui.ExportBitmapActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EncounterStartActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EncounterGeneratorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".AddCharActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>